@charset "UTF-8";

*{ touch-action: none; } 

body{
    margin: 0;
    flex-direction: column;
    font-family: arial,sans-serif;
}

h1{
    font-family: Courier, monospace, serif;
    font-size: 3rem;
}

button{
    background-color: #CCFCCB;
    border: none;
    padding: 1rem 3rem;
    border-radius: 3px;
    cursor: pointer;
    margin: 0.5em;
}   
button:focus{
    background-color: #96E6B3;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
  }

input{
    background-color: #CCFCCB;
    border: none;
    padding: 1rem;
    border-radius: 3px;
    cursor: pointer;
    max-width: 6rem;
}

footer{
    padding-left: 1rem;
}

.wrapper{
    height: 45rem;
    max-width: 55rem;
    text-align: center;
    margin: auto;
}

.user-in-div{
    margin: 2em; 
}

#grid-container{
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin: auto;
    border: none;
}
.square{
    background-color: #e3f2ed;
    transition: 0.2s;
}



